@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.seedlisting-list {
  padding: rem(30);

  @include w480 {
    padding: rem(30) rem(10);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);

    @include w768 {
      flex-direction: column;
    }
  }

  &__header-right {
    @include w480 {
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: rem(10);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;
  }

  &__btn {
    display: inline-block;
    width: rem(200);
    right: 0px;
  }

  &__showed-info-slidebar {
    .c-slidebar__content {
      width: rem(800);

      @include w768 {
        width: 100%;
      }
    }

    &.hidden {
      .c-slidebar__content {
        right: rem(-800);
      }
    }
  }

  &__new-seedlisting {
    .c-slidebar__content {
      width: rem(500);

      @include w768 {
        width: 100%;
      }
    }

    &.hidden {
      .c-slidebar__content {
        right: rem(-500);

        @include w768 {
          right: rem(-900);
        }
      }
    }
  }

  .header-right {
    display: flex;
    align-items: flex-start;

    &__upgrade-plan {
      margin-right: rem(10);
    }

    &__new-seedlisting {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .email-available {
    font-size: rem(12);
    font-weight: 300;
    margin: rem(5) 0;

    &__count {
      font-weight: bold;

      &.danger {
        color: $s7;
      }
      &.warning {
        color: $s8;
      }
      &.ok {
        color: $s6;
      }
    }
  }

  .rez-status {
    &--ok {
      color: $s6;
    }
    &--warning {
      color: $s8;
    }
    &--danger {
      color: $s7;
    }
  }
}
