@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.email-domain {
  padding: rem(30);
  min-height: rem(100);

  .c-table__cell:not(.c-table__cell--cbs) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .c-table__cell--cbs {
    align-items: flex-start;
  }

  .rdns-row {
    &.warning {
      color: $s7;
    }
  }
}
