@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-checkbox {
	display: inline-block;
	width: rem(20);
	height: rem(20);
	border: 1px solid $s3;
	border-radius: rem(3);
	position: relative;
	cursor: pointer;

	&.checked::before {
		content: url("./img/Arrow.svg");
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.partly::before {
		content: url("./img/square.svg");
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.disabled {
		pointer-events: none;
		opacity: .5;
	}
}
