@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.snds-dashboards-graphs {
  display: flex;
  flex-wrap: wrap;

  @include w1600 {
    display: block;
  }

  &__sei-accordion {
    width: calc(50% - 1.25rem);

    margin-bottom: rem(10);
    margin-right: rem(20);

    &:last-child {
      margin-bottom: 0;
    }

    @include w1600 {
      width: 100%;
      margin-right: 0;
    }
  }
}


.sei-accordion {
  &--snds {
    .sei-accordion__item-header {
      text-align: center;
    }

    .sei-accordion__item {
      border: 1px solid $border-color;
    }
  
    .sei-accordion__item-header {
      cursor: pointer;
      background-color: rgba($s1, .2);
      border-bottom: 1px solid $border-color;
      text-transform: uppercase;
      font-weight: 600;
      padding: rem(5);
  
      &:hover {
        background-color: rgba($s1, .5);
      }
    }
  
    .sei-accordion__item-content {
      &--graph {
        font-size: rem(12);
  
        @include w768 {
          font-size: rem(10);
        }
      }
    }
  }
}