@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

$offsetY: rem(10);

.dropdown {
  position: relative;

  &__icon {
    cursor: pointer;
    width: rem(30);
  }

  &__text {
    cursor: pointer;
    
    width: auto;

    text-transform: uppercase;
    font-size: rem(18);
    font-weight: 300;
    line-height: rem(33);
    white-space: nowrap;
    color: $s4;

    border-bottom: 2px solid transparent;
    transition: border-color .25s;

    &:hover, &--hovered  {
      border-color: $s1;
    }
  }

  &__icon,
  &__text {
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: $offsetY * 2;
      background-color: transparent;
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    top: 100%;
    left: 50%;
    transform: translate3D(-50%, $offsetY, 0);
  }

  .dmenu {
    display: flex;
    flex-direction: column;

    border-top: 4px solid $s1;
    border-radius: 0 0 rem(20) rem(20);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(52, 52, 52, 0.25);

    transition: all .25s;

    min-width: max-content;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;

    padding: rem(16) 0;

    &.hidden {
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }

    &__item {
      color: $text-color;
      text-transform: uppercase;

      font-size: rem(18);
      font-weight: 300;
      line-height: rem(33);

      white-space: nowrap;

      padding: 0 rem(16);

      @include w960 {
        padding: 0 rem(10);
      }

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-bottom: rem(10);
      }

      @include w960 {
        font-size: rem(16);
        text-align: center;

        &:not(:last-child) {
            margin-bottom: rem(10);
        }
      }
    }

    &__link {
      cursor: pointer;
      display: block;
      
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
