@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

$offsetFromBorders: rem(40);
$bg-tooltip-color: rgba(0,0,0,.7);
$delay: .3s;

@keyframes ScaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.hanging-btn {
  cursor: pointer;
  position: fixed;

  bottom: $offsetFromBorders;
  right: $offsetFromBorders;

  z-index: 110;

  @include w768 {
    bottom: $offsetFromBorders/2;
    right: $offsetFromBorders/2;
  }

  &__btn {
    $size: rem(50);

    position: relative;
    display: block;
    background-color: rgba($s5, .7);
    border-radius: 50%;

    text-decoration: none;

    box-shadow: 0 0 rem(10) rem(5) $s3;

    padding: rem(10);

    animation: ScaleAnimation $delay*10 infinite;
    height: $size;
    width: $size;

    &--stop-animate {
      animation-play-state: paused;
    }

    &:hover {
      background-color: rgba($s5, .5);
    }

    &:after {
      content: '?';
      display: inline-block;
      position: absolute;

      user-select: none;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
        
      color: white;
      font-size: $size/2;
    }
  }

  &__icon {
    position: absolute;

    user-select: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      
    color: white;
    font-size: rem(25);
  }

  &__tooltip {
    position: absolute;

    left: 999px;
    top: 0;
    transform: translate(-70%, -120%);

    width: rem(200);

    background-color: $bg-tooltip-color;
    border-radius: rem(20);

    opacity: 0;
    color: $white;
    text-align: center;

    padding: rem(10);
    z-index: 111;

    transition: all $delay;

    &--show {
      left: 0;
      opacity: 1;
    }
  }
}