@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.seedlisting-workers {
  padding: rem(30);

  @include w480 {
    padding: rem(30) rem(10);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);

    @include w768 {
      flex-direction: column;
    }
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;

    @include w480 {
      text-align: center;
    }
  }

  &__btn {
    display: inline-block;
    width: rem(200);
    right: 0px;
  }
}
