@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.email-view {
  width: 100%;
  height: calc(100vh - 12rem);

  &__iframe {
    width: 100%;
    height: 100%;
  }

  @include w960 {
    overflow: auto;
  }
}
