@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-gp-domains-history {
  &__list {
    font-size: rem(14);
  }

  &__item {
    margin-bottom: rem(10);
  }

  &__key {
    font-weight: 500;
  }

  &__text {
    font-weight: 300;
    font-size: rem(12);

    &--error {
      color: $s7;
    }
  }

  &__value {
    display: inline-block;
  }

  &__status {
    font-weight: 500;
    text-transform: uppercase;

    &--done {
      color: $s6;
    }
    &--failed {
      color: $s7;
    }
    &--is-progress {
      color: $s8;
    }
  }
}