@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.warning-billing-plan-popup {
  background-color: white;
  border-radius: rem(5);

  padding: rem(30);
  max-width: rem(470);

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(18);
    font-weight: bold;
    color: $s7;
    margin-bottom: rem(15);
  }

  &__footer {
    display: flex;

    *:first-child {
      margin-right: rem(5);
    }
    *:last-child {
      margin-left: rem(5);
    }
  }
}

.message {
  margin-bottom: rem(15);

  &__row {
    margin-bottom: rem(5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    text-align: justify;

    &_bold {
      font-weight: bold;
    }
  }
}