@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.pagination {
  display: flex;
  align-items: center;

  @include w480 {
    align-self: flex-start;
  }

  &__pages {
    display: flex;
    align-items: center;
  }

  &__page {
    width: rem(28);
    height: rem(28);
    border-radius: rem(2);

    margin: 0 rem(1);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem(15);
    font-weight: 300;
    color: black;

    cursor: pointer;

    transition: all .25s;

    &.active {
      background-color: $s1;
      color: white;
    }

    &:hover {
      background-color: rgba($s1, .3);
    }
  }

  span {
    margin: 0 rem(1);
  }

  select {
    margin-left: rem(10);
    width: rem(70);
    height: rem(28);
    font-size: rem(15);
    font-weight: 300;
  }
}
