@import "helpers/variables.scss";
@import "helpers/mixins.scss";

.show-hide-content {
  width: 100%;

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__btn {
    flex-shrink: 0;
    width: rem(100);
  }

  &__content {
    margin-top: rem(10);
  }
}