@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.main-menu {
    display: flex;
    align-items: center;

    .dropdown {
        display: none;
        visibility: hidden;
        opacity: 0;

        @include w960 {
            display: initial;
            visibility: visible;
            opacity: 1;
        }
    }
}