@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.dates-range {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;  

  @include w960 {
    justify-content: center;
  }

  @include w480 {
    flex-direction: column;
  }

  &__to, &__separator {
    margin-left: rem(5);

    @include w480 {
      margin-left: 0;
    }
  }

  &__to {
    @include w480 {
      margin-top: rem(10);
    }
  }  
  
  &__label {
    font-size: rem(12);
    font-weight: 300;
    color: $text-color;
  }
  
  &__separator {
    position: relative;
    bottom: 0%;

    &::after {
      content: '-';
      display: inline-block;
      position: relative;
      transform: translateY(40%);
  
      @include w480 {
        display: none;
      }
    }
  }

  &__datepicker_wrap {
    width: rem(200);

    &--required {
      input {
        border-color: $s7 !important;
      }
    }
  }
}