@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-select {
	height: rem(30);
  width: 100%;
  border: 1px solid $s3;
  border-radius: rem(3);
  background-color: white;
  display: inline-block;
  position: relative;

  &:hover {
    border-color: $s4;
  }

  .c-select__btn {
    position: absolute;
    top: 50%;
    right: rem(5);
    transform: translateY(-50%);
    width: rem(20);
    height: rem(20);
    font-size: rem(12);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: rem(4);

    &:hover {
      background-color: $s3;
    }

    &--open, &--choise {
      z-index: 1;
      transform: rotate(90deg) translateX(-50%);
      font-size: rem(16);
    }
    &--clear {
      z-index: 3;
    }
  }

  &[disabled] {
    select {
      color: $s3;
    }
  }

  select {
    height: 100%;
    width: 100%;
    border: none;
    appearance: none;
    padding: 0 rem(7);
    background-color: rgba(0,0,0,0);

    color: #1a1a1a;
    font-size: 13px;
    z-index: 2;
    position: relative;
  }
  option[disabled] {
    color: $s3;
  }
}
