@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.auth {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(19.39deg, #0079A7 7.34%, #0F7FAA 15.06%, #017CAB 33.36%, #068DC2 59.07%, #00B1F5 85.92%);
  background-image: url('../../../assets/images/top1.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;


  &__form {
    width: rem(500);
    padding: rem(50) rem(50) rem(20);
    background-color: white;
    border-radius: rem(10);
    box-shadow: 0px 5px rem(10) rgba(white, .5);

    @include w768 {
      width: rem(400);
      margin: rem(20);
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: rem(30);
    margin-bottom: rem(10);
  }

  &__form-row {
    margin-bottom: rem(25);

    &--recaptcha {
      display: flex;
      justify-content: center;
    }
  }

  &__form-label {
    font-size: rem(12);
    font-weight: 300;
    margin-bottom: rem(3);
  }

  &__form-input {
    height: rem(40);
    width: 100%;
    padding: 0 rem(10);
    border: 1px solid rgba($s4, .5);
    border-radius: rem(5);

    transition: border-color .25s;
    &:hover {
      border-color: $s4;
    }
  }

  &__form-btn {
    font-size: rem(20);
    height: rem(50);
    margin-top: rem(30);
  }

  &__footer-block {
    display: flex;
    justify-content: space-between;

    @include w768 {
      flex-direction: column;
      align-items: center;
      margin-bottom: rem(10);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__footer-label {
    color: rgba($text-color, .8);
    font-size: rem(14);
    font-weight: 300;
  }

  &__footer-link {
    color: $s1;
    font-size: rem(14);
    font-weight: 300;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.activation {
  text-align: center;

  &__title {
    font-size: rem(30);
    text-transform: uppercase;

    &--success {
      color: $s6;
    }
    &--error {
      color: $s7;
    }
  }
  &__description {
    font-size: rem(16);
    font-weight: 300;
    color: $text-color;
  }
}

.recover-password {
  text-align: center;


}
