@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.user-help {
  padding: rem(30);

  @include w480 {
    padding: rem(20) rem(20);
  }

  &__text {
    font-size: rem(16);
    font-weight: 300;

    a {
      color: $s1;
    }
  }
}
