@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.si-stats {

  &__panels {
    margin-bottom: rem(50);
  }

  &__chart {
    margin-bottom: rem(50);
  }

  .sispanels {
    display: flex;

    @include w768 {
      flex-wrap: wrap;
    }

    &__panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: rem(120);
      margin: 0 rem(5);

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &--inbox {
        background-color: rgba($s6, .1);
      }
      &--spam {
        background-color: rgba($s7, .1);
      }
      &--unreceived {
        background-color: rgba($s8, .1);
      }
      &--progress {
        background-color: rgba($s5, .1);
      }

      @include w768 {
        &:first-child {
          margin-left: rem(5);
        }
        &:last-child {
          margin-right: rem(5);
        }

        align-items: center;
        flex: 1 1 40%;
        margin: rem(5);
      }
    }

    &__label {
      font-size: rem(20);
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
    }

    &__value {
      font-size: rem(35);
      font-weight: 600;
      color: rgba($text-color, .8);
    }
  }

  .sischart {
    width: 100%;
    height: rem(200);
  }

  .sisrow-data {
    display: flex;
    justify-content: flex-end;
    padding: rem(5);
    background-color: $s1;

    color: white;

    &__item {
      margin-left: rem(26);
      font-size: rem(16);
    }

    &__label {
      font-weight: 600;
    }

    &__value {
      font-weight: 300;
      display: inline-block;
      width: rem(40);
    }

    @include w768 {
      justify-content: space-between;
      text-align: center;

      &__item {
        margin-left: 0;
      }
    }
  }
}
