@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-multiple-select {
  position: relative;
  display: inline-block;

  border: 1px solid $s3;
  border-radius: rem(4);
  
  background-color: white;

  &:hover {
    border-color: #b2b2b2;
  }

  &--fix-height {
    height: rem(32);
  }

  &--disabled {
    user-select: none;
    pointer-events: none;
  }

  &__btn {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(20);
    height: rem(20);

    font-size: rem(12);
    
    border-radius: rem(4);

    z-index: 1;

    &:hover {
      background-color: $s3;
    }

    &--open, &--clear-all {
      position: relative;
      
      right: rem(5);

      font-size: rem(16);
    }

    &--open {
      top: rem(5);
      transform: rotate(90deg);
    }

    &--clear-all {
      top: rem(2);
      z-index: 5;
      padding: 0 rem(4);
    }

    &--clear-one {
      z-index: 5;
    }
  }

  &__label {
    display: flex;
    justify-content: flex-end;
  }

  &__select {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    border: none;
    appearance: none;
    background-color: rgba(0,0,0,0);
    
    color: $text-color;
    font-size: 13px;

    z-index: 2;

    &--hide {
      opacity: 0;
    }
  }

  &__values {
    position: relative;

    top: 0;
    left: 0;
    width: 100%;

    font-size: rem(12);
  }

  &__select-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__value {
    display: inline-flex;
    align-items: center;

    border-radius: rem(4);

    width: fit-content;

    background-color: rgba($s3, .4);

    padding: rem(2) rem(4);
    margin: rem(2);

    &:last-child {
      margin-right: rem(2);
    }
  }

  &__text {
    margin: 0 rem(2);
  }

  &__filter-options {
    display: inline-block;

    flex-shrink: 0;
    flex-grow: 1;
    
    background-color: transparent !important;

    max-width: rem(150);
    height: rem(32) !important;

    &--hide {
      display: none;
    }
  }

  &__options {
    background-color: $white;
    max-height: rem(250);
    overflow-y: auto;
  }

  &__option {
    cursor: pointer;
    padding: rem(4);

    font-size: rem(14);

    &:hover {
      background-color: rgba($s4, .1);
    }

    &--disabled {
      color: $s3;
    }
  }
}