.c-sidebar {
  height: 100vh;
  position: relative; }
  .c-sidebar__nav {
    height: 100%;
    overflow: auto;
    width: 12.5rem;
    background-color: white;
    border-right: 1px solid #e3e3e3;
    position: relative;
    z-index: 20; }
    @media screen and (max-width: 30rem) {
      .c-sidebar__nav {
        width: 2.5rem; } }
  .c-sidebar__subnav {
    position: absolute;
    height: 100%;
    overflow: auto;
    width: 12.5rem;
    left: -12.5rem;
    top: 0;
    background-color: white;
    border-right: 1px solid #e3e3e3;
    z-index: 10;
    padding-top: 1.875rem; }
    .c-sidebar__subnav.is-open {
      left: 12.5rem; }
    @media screen and (max-width: 30rem) {
      .c-sidebar__subnav.is-open {
        left: 2.5rem; } }
  .c-sidebar__link {
    display: flex;
    padding: 0.625rem;
    cursor: pointer;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem; }
    .c-sidebar__link:hover {
      background-color: #f2f2f2; }
    @media screen and (max-width: 30rem) {
      .c-sidebar__link {
        height: 1.875rem;
        margin-top: 1.25rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
        .c-sidebar__link span {
          display: none; }
        .c-sidebar__link--brand {
          background-image: url("./img/box.svg"); }
        .c-sidebar__link--prod {
          background-image: url("./img/barcode.svg"); }
        .c-sidebar__link--ad {
          background-image: url("./img/web-design.svg"); }
        .c-sidebar__link--places {
          background-image: url("./img/meeting-point.svg"); }
        .c-sidebar__link--demo {
          background-image: url("./img/digital-marketing.svg"); } }
  .c-sidebar__close {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 1.25rem;
    height: 1.25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(./img/close.svg);
    cursor: pointer; }
