@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-sidebar {
    height: 100vh;
    position: relative;

    &__nav {
        height: 100%;
        overflow: auto;
        width: rem(200);
        background-color: white;
        border-right: 1px solid $border-color;
        position: relative;
        z-index: 20;

        @include w480 {
            width: rem(40);
        }
    }

    &__subnav {
        position: absolute;
        height: 100%;
        overflow: auto;
        width: rem(200);
        left: rem(-200);
        top: 0;
        background-color: white;
        border-right: 1px solid $border-color;
        z-index: 10;
        padding-top: rem(30);

        &.is-open {
            left: rem(200);
        }

        @include w480 {
            &.is-open {
                left: rem(40);
            }
        }
    }

    &__link {
        display: flex;
        padding: rem(10);
        cursor: pointer;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: rem(14);

        &:hover {
            background-color: $main-bg-color;
        }

        @include w480 {
            span {
                display: none;
            }

            height: rem(30);
            margin-top: rem(20);

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            &--brand {
                background-image: url('./img/box.svg');
            }
            &--prod {
                background-image: url('./img/barcode.svg');
            }
            &--ad {
                background-image: url('./img/web-design.svg');
            }
            &--places {
                background-image: url('./img/meeting-point.svg');
            }
            &--demo {
                background-image: url('./img/digital-marketing.svg');
            }
        }
    }

    &__close {
        position: absolute;
        top: rem(10);
        right: rem(10);
        width: rem(20);
        height: rem(20);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(./img/close.svg);
        cursor: pointer;
    }
}
