@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.dmarc {

  &__data:not(:last-child) {
    margin-bottom: rem(10);
  }

  &__record:not(:last-child),
  &__data:not(:last-child) {
    margin-bottom: rem(10);
  }

  &__description {
    font-weight: bold;
    margin-bottom: rem(10);
  }

  &__table {
    .dmarc__description {
      margin-bottom: 0;
    }
  }

  &__result {
    background-color: rgba($s4, .1);
    font-size: 0.75rem;
    padding: rem(10);
    word-break: break-all;

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__value:not(:last-child) {
    margin-bottom: rem(4);
  }

  &__translation {
    text-align: left;
  }
}