@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-layout {
  width: 100%;
  height: 100vh;
  padding-top: rem(80);

  display: flex;

  &__content {
    flex: 1;
    // padding: rem(30);
    overflow: auto;
  }
}
