@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.ip-rblchangeslogs{
  padding: rem(30);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);

    @include w480 {
      margin-bottom: 0;
    }
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    @include w768 {
      width: 100%;
      text-align: center;
      font-size: rem(35);
    }

    @include w480 {
      font-size: rem(30);
    }
  }

  &__breadcrumbs-current {
    display: inline-block;
    vertical-align: middle;
    font-size: rem(20);
    line-height: rem(40);

    &--blured {
      filter: blur(5px);
    }
  }
  
  &__filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(20);

    @include w768 {
      position: relative;
      margin-top: rem(30);
      flex-direction: column;
    }
  }
}
