@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.email-authentication {
  padding: rem(10);

  .accordion {
    &__item {
      border: 1px solid $border-color;
    }

    &__item-header {
      cursor: pointer;
      padding: rem(5);
      background-color: rgba($s1, .2);
      border-bottom: 1px solid $border-color;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        background-color: rgba($s1, .5);
      }
    }

    &__item-content {
      padding: rem(10);
    }
  }
}
