@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.ip-data-loading-info {
  display: flex;
  align-items: flex-end;

  margin-right: rem(10);

  @include w960 {
    margin-right: 0;
    margin-bottom: rem(10);
  }

  &__refresh {
    min-width: rem(160);

    @include w960 {
      min-width: rem(200);
    }
  }
}