@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.billing-method-popup {
  background-color: white;
  border-radius: rem(5);

  padding: rem(30);
  width: rem(400);

  &__text {
    font-size: rem(16);
    font-weight: 300;
    text-align: center;
    margin-bottom: rem(30);
  }

  &__liqpay-link {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    width: 100%;
    height: rem(50);
    border-radius: rem(5);

    text-decoration: none;
    transition: all .25s;

    font-size: rem(16);
    font-weight: 300;

    $col: $s1;

    box-shadow: 0px 0px 10px rgba(1, 119, 164, 0.3);

    background-color: $s1;
    color: white;

    margin-bottom: rem(30);

    &:hover {
      background-color: white;
      color: $col;
    }
  }

  &__wire-transfer {
    margin-bottom: rem(30);

    button {
      height: rem(50);
    }
  }

  // &__footer {
  //   display: flex;
  //   justify-content: space-between;
  //   & > * {
  //     width: calc(50% - 5px);
  //   }
  // }
}
