@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.sortable-list {
  cursor: default;
  user-select: none;
}

.sortable-item {
  list-style: none;
  z-index: 99999;
}

.drag-handle {
  content: url(./img/columnDrag.svg);
  cursor: row-resize;
}