@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.snds-dashboards-filters {
  display: flex;
  justify-content: flex-end;

  margin-bottom: rem(10);

  @include w960 {
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(10);
  }

  &__popup {
    z-index: 111;

    .c-popup__content {
      min-width: rem(200);
      max-width: rem(400);

      text-align: center;
      border-radius: rem(20);
    }
  }
}

.snds-dashboards-popup {
  &__header {
    text-transform: uppercase;
    color: $s7;
    margin-bottom: rem(20);
  }

  &__description {
    margin-bottom: rem(20); 
  }

  &__btn {
    margin: 0 auto;
    width: 50%;
  }
}