@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.snds-data-sum-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0 rem(20);

  @include w768 {
    flex-direction: column;
    padding: rem(20);
  }

  &__chart, &__table {
    flex-shrink: 0;
  }

  &__chart {
    width: rem(300);
    margin-right: rem(10);

    @include w768 {
      margin-right: 0;
    }
  }

  &__tooltip {
    text-align: center;
    font-size: rem(12);
    padding: rem(4);
  }

  &--nochart {
    height: rem(200);
  }

  &--nochart {
    height: rem(200);
  }

  &__table {
    .c-table {
      &__cell {
        font-size: rem(12);
      }
    }
  }

  &__column {
    &.snds-data-sum-info__colors {
      &:before {
        content: '';
        display: inline-block;
        width: rem(8);
        height: rem(8);
        border-radius: 50%;
        margin-right: rem(4);
      }
      &--green {
        color: $s6;

        &:before {
          background-color: $s6;
        }
      }

      &--yellow {
        color: $s8;

        &:before {
          background-color: $s8;
        }
      }

      &--red {
        color: $s7;

        &:before {
          background-color: $s7;
        }
      }
    }
  }
}