@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.info-container {
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    background-color: $white;

    border: 1px solid transparent;
    
    padding: rem(4);
    margin-bottom: rem(4);

    &:last-child {
      margin-bottom: 0;
    }

    &--error {
      border-color: $s7;
    }
    &--warning {
      border-color: $s8;
    }
    &--info {
      border-color: $s1;
    }
  }

  &__icon {
    align-self: flex-start;
    flex-shrink: 0;

    height: rem(15);
    width: rem(15);

    transform: translateY(rem(4));

    margin-right: rem(10);
  }
}