@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.user-logs {
  padding: rem(30);

  &__header {
    margin-bottom: rem(20);
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__pagination {
    &--bottom {
      margin-top: rem(10);
    }
  }
}