@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.gp-domains-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: rem(20);

  @include w960 {
    flex-direction: column;

    margin-bottom: rem(10);
  }

  .header-right {
    @include w960 {
      flex-direction: column;
    }

    &__tabs {   
      width: rem(200);   
      margin-right: rem(10);

      @include w960 {
        margin: 0 auto rem(10) auto;
      }
    }

    &__tabs-container {
      @include w960 {
        display: block;

        .c-tabs__tab {
          margin-bottom: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $border-color;
          }
        }
      }

      .c-tabs__label {
        height: rem(30);
      }
    }

    &__new-domain {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: rem(10);
  
      @include w960 {
        margin: 0 auto rem(10) auto;
      }
    }
  }

  .domains-available {
    font-size: rem(12);
    font-weight: 300;
    margin-top: rem(5);

    &__count {
      font-weight: bold;

      &.danger {
        color: $s7;
      }
      &.warning {
        color: $s8;
      }
      &.ok {
        color: $s6;
      }
    }
  }

  .user-integration {
    &__buttons {
      display: flex;

      @include w768 {
        flex-direction: column;
      }
    }

    &__btn {
      display: inline-block;
      min-width: rem(200);

      margin-right: rem(10);

      @include w768 {
        margin-bottom: rem(10);
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;

        @include w768 {
          margin-bottom: 0;
        }
      }
  
      &--integration {
        min-width: rem(300);
      }
    }
  }

  .integration-popup {
    z-index: 111;

    .c-popup__content {
      min-width: rem(200);
      text-align: center;
      border-radius: rem(20);
      max-width: rem(400);
    }

    &__header {
      text-transform: uppercase;

      margin-bottom: rem(20);

      &--success {
        color: $s6;
      }
      &--error {
        color: $s7;
      }
    }

    &__description {
      margin-bottom: rem(20); 
    }

    &__btn {
      margin: 0 auto;
      width: 50%;
    }
  }
}