@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem(75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(30);
  z-index: 100;
  box-shadow: 0px 10px 10px rgba(52, 52, 52, 0.25);
  background-color: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.79) 100%);;

  @include w480 {
    padding: 0 rem(15);
  }

  &__link {
    display: block;
    color: $text-color;
    margin-left: rem(30);

    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $text-color;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__logo {
    span {
      background-position: center;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      width: rem(150);
      height: rem(60);

      margin-right: rem(40);
      text-decoration: none;
      cursor: pointer;

      @include w768 {
        width: rem(120);
        height: rem(120);
        margin-right: rem(20);
      }

      @include w480 {
        width: rem(100);
        height: rem(100);
        margin-right: rem(5);
      }
    }
  }

  &__user {
    margin-left: rem(30);
    @include w480 {
      margin-left: rem(20);
    }
  }
}
