.c-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99;

    &.hidden {
        display: none;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0,0,0,.5);
        z-index: 100;
    }

    &__content {
        background-color: #fff;
        padding: 30px;
        z-index: 1000;
    }
}
