@import 'helpers/mixins.scss';

.c-input-file {
  background-color: #FFF;

  &__label {
    display: inline-block;
    border: rem(2) dashed #eaeaea;
    width: 100%;

    &--no_node {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: rem(200);
      border: rem(2) dashed #eaeaea;
      padding: rem(10);
      cursor: pointer;
  
      color: #c8c8c8;
      font: {
        size: rem(14);
        weight: 500;
      }
  
      text-align: center;
    }

    &--dragEnter {
      border: rem(2) dashed black;
    }
  }
}
