@import "helpers/as-grid.scss";
@import "helpers/variables.scss";
@import "helpers/mixins.scss";
@import "helpers/helpers.scss";

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

body {
  color: $text-color;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $s1;

  &:hover {
    color: $s5;
  }
}
