@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

$base-column-width: rem(100);
$padding-column: 5;
$border: 1px solid rgba($s4, .1);

$bad-color: $s4;
$low-color: $s7;
$medium-color: $s8;
$high-color: $s6;
$unknown-color: rgba($s4, .1);

.gp-table {
  overflow-x: auto;

  will-change: transform;
  transform: translate3D(0, 0, 0);

  &__wrapper {
    border: $border;
    width: fit-content;
  }

  &__main-header,
  &__header,
  &__row {
    display: grid;
    grid-template-rows: 1fr;
  }

  &__main-header {
    grid-template-columns: $base-column-width*2 $base-column-width*5 $base-column-width*3 $base-column-width*4 $base-column-width*0.5;
                        //      DOMAIN            DOMAIN REPUTATION    AUTH-ON AVERAGES       IP REPUTATION             CBS
  }

  &__header {
    grid-template-columns: $base-column-width*7 repeat(7, $base-column-width) $base-column-width*0.5;
                        //      DOMAIN FILTER                  ...                          CBS
  }

  &__row {
    cursor: pointer;
    user-select: none;
    grid-template-columns: $base-column-width*2 $base-column-width*5 repeat(7, $base-column-width) $base-column-width*0.5;
                        //      DOMAIN                    ...                   1 WIDTH CELLS               CBS
    &--hovered {
      background-color: $s3;
    }
  }

  &__column {
    min-height: rem(30);
    padding: rem($padding-column);
    font-size: rem(14);
    font-weight: 300;
    text-align: center;
    
    border-right: $border;
    border-bottom: $border;

    &:last-child {
      border-right: none;
    }

    &--main-header {
      user-select: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem(12);

      &.reputation {
        position: relative;
      }
    }

    &--domain-reputation {
      display: flex;
    }

    &--header {
      position: relative;
      cursor: pointer;
      user-select: none;
      text-transform: uppercase;
      font-size: rem(12);
      background-color: rgba($s4, .05);
    }

    &--cbs {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &--hovered {
      &:hover {
        background-color: rgba($s1, .2);
      }
    }
  }

  &__column-content {
    word-break: break-word;
    
    &--blured {
      filter: blur(5px);
    }
  }

  &__date {
    position: absolute;
    top: rem($padding-column);
    color: rgba($s4, .5);

    &--from {
      left: rem($padding-column);
    }
    &--to {
      right: rem($padding-column);
    }
  }

  &__reputation-filters {
    display: flex;
    justify-content: flex-end;
    text-transform: none;
  }

  &__reputation-filter-item {
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: rem(35);

    &:before {
      content: '';
      position: absolute;
      display: block;
      flex-shrink: 0;

      width: rem(12);
      height: rem(12);
      left: rem(-20);

      background-color: $unknown-color;
      border: 1px solid transparent;

      margin-right: rem(10);
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      flex-shrink: 0;

      width: rem(6);
      height: rem(6);
      left: rem(-20);
      transform: translateX(70%);

      background-color: transparent;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;

      &:before {
        border: 1px solid rgba($s4, .5);
      }
    }

    &--high {
      &:before {
        background-color: $high-color;
      }
    }
    &--medium {
      &:before {
        background-color: $medium-color;
      }
    }
    &--low {
      &:before {
        background-color: $low-color;
      }
    }
    &--bad {
      &:before {
        background-color: $bad-color;
      }
    }

    &--selected {
      text-decoration: underline;

      &:before {
        border: 1px solid rgba($s4, .5);
      }
      &:after {
        background-color: $white;
      }
    }
  }

  &__reputation-item {
    width: rem(19.5);
    height: rem(20);
    border: $border;
    border-right: none;
    background-color: $unknown-color;

    &:last-child {
      border-right: $border;
    }

    &--HIGH {
      background-color: $high-color;
    }
    &--MEDIUM {
      background-color: $medium-color;
    }
    &--LOW {
      background-color: $low-color;
    }
    &--BAD {
      background-color: $bad-color;
    }
  }

  &__sort-arrow {
    position: absolute;
    transition: all 0.25s;

    &.desc {
      bottom: 0;
      right: 0;
    }

    &.asc {
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }
  }

  &__cb {
    cursor: pointer;
    margin: 0 rem(4);

    &:hover {
      transform: scale(1.2);
    }
  }

  &__show-hide-btn {
    width: rem(400);
    height: rem(50);

    margin-top: rem(30);
  }

  &__context-content {
    .context-content__item--ip {
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }
  
}
