@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.on-go-payment-params {
  background-color: white;
  border-radius: rem(5);

  padding: rem(30);
  width: rem(400);

  &__text {
    font-size: rem(16);
    font-weight: 300;
    text-align: center;
    margin-bottom: rem(15);
  }

  &__input {
    margin-bottom: rem(15);
  }

  .agpp-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(15);

    &__label {
      font-size: rem(20);
      text-transform: uppercase;
      color: rgba($text-color, .7);
    }

    &__value {
      font-size: rem(50);
      color: $s1;
    }
  }

  &__footer {
    display: flex;

    *:first-child {
      margin-right: rem(5);
    }
    *:last-child {
      margin-left: rem(5);
    }
  }
}
