@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.tooltip-wrapper {
  position: relative;
  width: 100%;
}

.tooltip {
  position: fixed;
  z-index: 10000;

  background-color: rgba(0,0,0,.7);
  box-shadow: rgba(0,0,0,.7);
  border-radius: rem(4);
  padding: rem(4) rem(8);
  transform: translateX(-50%);

  font-size: rem(14);
  font-weight: 300;
  color: white;
}
