@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.seedlisting-info {

  &__tag {
    font-family: monospace;
    width: 100%;
    text-align: center;
    height: rem(80);
    background-color: rgba($s4, .2);
    font-size: rem(14);
  }

  &__description {
    word-break: break-all;
  }

  &__sub-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__emailslist {
    display: none;

    &.showed {
      display: initial;
    }
  }
}
