@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.collapse-expand-accordion {
  font-size: rem(14);
  margin-top: rem(4);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: rem(4);
  }

  &--nomargin {
    margin: 0;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    border: 1px solid rgba($s4, .1);
    background-color: $white;
    cursor: pointer;
    padding: rem(4);
  }

  &__icon {
    flex-shrink: 0;
    height: rem(15);
    width: rem(15);
    margin-right: rem(10);
  }

  &__text {
      font-weight: 300;
      background-color: rgba($s4, .1);
      padding: rem(5) rem(10);

      .collapse-expand-accordion__dns-queries {
        display: none;
      }
      &:first-child  {
        .collapse-expand-accordion__dns-queries {
          display: initial;
        }
      }
      &.ipData {
        padding: rem(5) rem(10);
      }
  }

  &__dns-queries {
    background-color: $s4;
    color: $s3;
    border-radius: rem(4);
    padding-left: rem(5);
    padding-right: rem(5);
    margin-right: rem(10);
  }

  &__warning-wrapper {
    display: flex;
    align-items: center;
    background-color: $white;
    
    padding: rem(2) 0;
    margin-bottom: rem(2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__warning-icon {
    height: rem(15);
    width: rem(15);
    margin-right: rem(10);
    flex-shrink: 0;
  }

  &__domain-text {
    margin-right: rem(10);
  }

  &__valid {
    font-weight: 300;
    color: $s6;
  }

  &__not-valid {
    font-weight: 300;
    color: $s7;
  }

  &__children {
    margin-top: rem(4);

    &:first-child {
        margin-top: 0;
    }

    &.hide {
      display: none;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}