@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.shareable-link {
  .c-slidebar__content {
    width: rem(500);

    @include w768 {
      width: 100%;
    }
  }

  &.hidden {
    .c-slidebar__content {
      right: rem(-500);

      @include w768 {
        right: rem(-900);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;

    font-family: monospace;
    font-size: rem(16);
    font-weight: 400;
    
    width: 100%;
    
    word-break: break-word;

    background-color: rgba($s4, .2);
    
    padding: rem(10);
  }

  &__text-row {
    font-size: rem(14);
  }

  &__expired {
    font-weight: 300;
  }

  &__expired-date {
    font-weight: 600;
  }
}