@import 'helpers/mixins.scss';

.email-spamassasin {
  padding: rem(12);

  .c-table__content {
    .c-table__cell {
      display: initial;
      text-align: start;
    }

    .rule-name, 
    .rule-description {
      text-align: start;
    }
  }
}
