@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.ips-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(20);

  @include w768 {
    flex-direction: column;
  }
}

