@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.status-icon {
    
    &__container {
        svg {
            display: initial !important;
            vertical-align: initial !important;
        }
    }
}