@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

$iconNames: (
  blank,
  onDelete,
  onEdit,
  onInfo,
  onSend,
  onSort,
  onSwitch,
  onTerminate,
  onUpdate, 
  onLogs,
);

.icon {
  width: rem(18);
  height: rem(18);

  @each $icon in $iconNames {
    &__img {
      &.icon__img--#{$icon} {
        width: 100%;
        height: 100%;
        background: center / 96% no-repeat url('./img/#{$icon}.png');
      }
    }
  }
}

