@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.gp-loading-info {
  position: relative;
  bottom: 1px;

  align-self: flex-end;

  display: flex;
  align-items: center;

  margin-right: rem(10);

  @include w960 {
    flex-direction: column;
    margin: 0 auto;

    margin-bottom: rem(10);
  }
  
  &__data-loading {
    font-size: rem(14);
    margin-right: rem(20);

    @include w960 {
      margin-right: 0;
    }
  }

  &__refresh-btn {
    min-width: rem(160);

    @include w960 {
      min-width: rem(200);
    }
  }
}