@import "helpers/variables.scss";
@import "helpers/mixins.scss";

.menu-links {

    @include w960 {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: none;
        visibility: hidden;
        opacity: 0;

        @include w768 {
            display: flex;
            justify-content: center;
            align-items: center;
            
            visibility: visible;
            opacity: .8;

            width: rem(40);
            padding: rem(10) rem(4);
        }

        @include w480 {
            width: rem(35);
        }
    }

    &__text {
        @include w768 {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }

    &__link {
        display: block;
        color: $text-color;
        margin-left: rem(30);

        text-align: center;
        text-decoration: none;
        cursor: pointer;

        border-bottom: 2px solid transparent;

        transition: border-color .25s;

        &:hover {
            border-color: $s1;
            color: $text-color;
        }
    }

    &__item {
        text-transform: uppercase;
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(33);

        white-space: nowrap;
    }

    &.vertical {
        display: initial;
        visibility: visible;
        opacity: 1;

        .menu-links__list {
            flex-direction: column;
        }

        .menu-links__link {
            margin: 0;
            padding: rem(10);
        }
    }
}