@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.to-admin {
  display: flex;
  align-items: center;

  @include w768 {
    flex-direction: column;
    align-items: flex-start;
    font-size: .8rem;
  }
  @include w480 {
    font-size: .7rem;
  }

  &__control {
    flex-shrink: 0;
  }

  &__btn {
    text-transform: uppercase;
    margin-right: rem(20);

    @include w768 {
      font-size: .8rem;
      margin-bottom: rem(5);
    }
    @include w480 {
      font-size: .7rem;
    }
  }

  &__info {
    padding-left: rem(10);

    @include w768 {
      padding: 0;
    }
  }

  &__userdata {
    padding-left: rem(10);

    @include w768 {
      padding: 0;
    }
  }

  .role {
    @include w768 {
      display: none;
    }
  }
  .email {
    @include w768 {
      .to-admin__description {
        display: none;
      }
    }
  }
}