@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

$lightgrey: #b2b2b2;
$black: #232323;

.c-textarea {
  display: block;
  outline: none;
  font-family: monospace;
  width: 100%;
  height: rem(200);

  overflow-y: auto;

  border: 1px solid #eaeaea;
  border-radius: 4px;

  font-size: rem(16);
  font-weight: 400;
  color: $black;

  padding: rem(10);

  &[disabled] {
    pointer-events: none;
    color: $lightgrey;
  }

  &--required {
    border-color: $s7;
  }

  &--readonly {
    border-color: $lightgrey;
    background-color: rgba($s4, .2);
  }

  &--autoheight {
    overflow: hidden;
    height: auto;
  }

  &:focus, &:hover {
    border-color: $lightgrey;
  }

  @include placeholder {
    color: $lightgrey;
  }

  &__errortext {
    color: $s7;
    font-size: 10px;

    padding-top: 2px;
  }
}
