@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.email-headers {
  font-size: rem(12);
  // height: calc(100vh - 12rem);
  overflow: auto;
  padding: rem(5);

  &__row {
    margin-bottom: rem(20);
    display: flex;

    &:last-child {
      margin: 0;
    }

    @include w960 {
      flex-direction: column;
    }
  }

  &__key {
    font-weight: bold;
    width: 200px;
    min-width: rem(200);

    @include w960 {
      width: 100%;
    }
  }

  &__value {
    width: calc(100% - 200px);
    word-wrap: break-word;

    div {
      margin-bottom: 8px;
    }
    
    @include w960 {
      width: 100%;
    }
  }
}
