@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.context-menu {
  position: absolute;
  background-color: $white;
  box-shadow: 0 0 rem(12) 1px black;

  border-radius: rem(6);

  max-width: rem(300);
  max-height: rem(200);
  
  overflow-y: auto;
  z-index: 9999;
}

.context-content {
  user-select: none;

  &__item {
    cursor: pointer;
    padding: rem(5);
    border-bottom: 1px solid rgba($s4, .5);
    font-weight: 300;
    font-size: rem(14);

    &:hover {
      background-color: $s3;
    }
    
    &--blured {
      filter: blur(5px);
    }
  }
}