@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.snds-credentials {

  &__column {
    display: flex;
    align-items: center;

    &--failed {
      color: $s7;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    margin-right: rem(10);
  }

  &__delete {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

}