@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.billing-plank {
  flex: 1;
  margin: 0 rem(10);
  max-width: rem(300);
  box-shadow: 0px 0px 10px rgba(52, 52, 52, 0.25);
  padding: rem(20) rem(10);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: background-color .25s;

  &.blured {
    background-color: rgba($s4, .07);
  }

  &:hover {
    background-color: initial;
  }

  @include w1200 {
    flex-wrap: wrap;
    flex: 1 1 40%;
    margin: rem(10);
  }

  @include w768 {
    flex: 1 1 45%;
  }

  @include w480 {
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: initial;
    margin: rem(10);
  }

  &__current-plan {
    font-size: rem(13);
    color: $s6;
    text-transform: uppercase;

    &.transparent {
      color: transparent;
    }
  }

  &__title {
    font-size: rem(25);
    color: $s4;
    text-transform: uppercase;
    margin-bottom: rem(20);
  }

  &__price {
    font-size: rem(50);
    color: $s1;
  }

  &__consulting {
    margin-bottom: rem(20);

    &-text {
      display: inline-block;
      vertical-align: middle;
      color: $s1;
      margin-right: rem(10);

      &:last-child {
        margin-right: 0;
      }
      
      &.price {
        font-size: rem(50);
      }
    }
  }

  &__type {
    color: $s1;
  }

  &__description {
    font-weight: 300;
    color: $text-color;
    margin-top: rem(20);
    flex: 1 1 auto;
    max-width: rem(270);
  }

  &__text {
    line-height: 1.2em;
    margin-bottom: rem(7);
  
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__select {
    width: 100%;
    margin-top: rem(30);
  }

  &__btn {
    width: 100%;
    margin-top: rem(30);
  }
}
