@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.spinner  {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  //&.transparent

  &__wrapper {
    $pos: rem(50);
    width: $pos;
    height: $pos;
    // transform: translate(-50%, -50%);
  }

  &__animation {
    width: rem(50);
    height: rem(50);

    // will-change: transform;

    animation: spin 2s linear infinite;

    &,
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;

      border: rem(2) solid transparent;
      border-top: rem(2) solid $s2;
      border-radius: 50%;
    }

    &::before {
      $pos: rem(3);

      top: $pos;
      left: $pos;
      right: $pos;
      bottom: $pos;

      animation: spin 4s linear infinite;
    }

    &::after {
      $pos: rem(8);

      top: $pos;
      left: $pos;
      right: $pos;
      bottom: $pos;

      animation: spin 3s linear infinite;
    }
  }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
}
