@import "helpers/variables.scss";
@import "helpers/mixins.scss";

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.c-table {
  position: relative;
  width: fit-content;
  
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: rem(5) 0;
  }

  &__btns {
    display: flex;
  }

  &__btn {
    width: rem(200);
  }

  &__content {
    overflow: auto;

    &.isResize {
      cursor: col-resize;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-start;

    .c-table__cell {
      position: relative;

      &-width-control {
        position: absolute;
        cursor: col-resize;
        user-select: none;
        z-index: 1;

        height: 100%;
        width: rem(10);
        right: rem(-5px);

        background-color: transparent;
      }

      border-top: 1px solid $border-color;

      &:first-child {
        border-left: 1px solid $border-color;
      }
    }
  }

  &__body {
    width: fit-content;
  }

  &__row {
    display: flex;
    justify-content: flex-start;

    &:nth-child(0) {
    }

    &.clickable-row {
      &:hover {
        cursor: pointer;

        .c-table__cell {
          background-color: rgba($s3, .6);
        }
      }
    }
  }

  &__cell {
    width: rem(200);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: rem(30);
    padding: rem(5);
    font-size: rem(14);
    font-weight: 300;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    
    &:first-child {
      border-left: 1px solid $border-color;
    }

    &--header {
      text-transform: uppercase;
      font-weight: bold;
      font-size: rem(12);
    }

    &--breakword {
      word-break: break-word;
    }

    &--top-up {
      align-items: flex-start;
    }
    &--top-down {
      align-items: flex-end;
    }

    &-content {
      word-break: break-word;

      &--blured {
        filter: blur(5px);
      }
    }

    &--left {
      align-items: flex-start;
      text-align: start;
    }

    &--right {
      align-items: flex-end;
      text-align: end;
    }
  }

  &__cb {
    cursor: pointer;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: rem(10);
    }

    &--onDelete {
    }
    &--onEdit {
    }
    &--onSend {
    }
    &--onUpdate {
    }
    &--onInfo {
    }
    &--onTerminate {
    }

    &:hover {
      transform: scale(1.15);
    }

    &--disabled,
    &.isDeleteDisable,
    &.isEditDisable,
    &.isSendDisable,
    &.isUpdateDisable,
    &.isInfoDisable,
    &.isTerminateDisable,
    &.isSwitchDisable,
    &.isLogsDisable {
      pointer-events: none;
      opacity: 0.5;
    }
    &.updating {
      animation-name: rotation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    i {
      display: inline-flex !important;
      justify-content: center;
      align-items: center;
    }
  }

  &__header-sort {
    cursor: pointer;
    position: relative;
  }

  &__sort-arow {
    position: absolute;
    transition: all 0.25s;

    &.asc {
      bottom: 0;
      right: 0;
    }

    &.desc {
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }
  }

  *[class*="dump"] {
    pointer-events: none;
    cursor: default;
  }
}
