@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.success-billing-plan-popup {
  background-color: white;
  border-radius: rem(5);

  padding: rem(30);
  width: rem(400);

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(18);
    font-weight: bold;
    color: $s6;
    margin-bottom: rem(15);
  }

  &__footer {
    margin: 0 auto;
    width: 50%;

    *:first-child {
      margin-right: rem(5);
    }
    *:last-child {
      margin-left: rem(5);
    }
  }

  &__message {
    margin-bottom: rem(15);
    text-align: center;
  }
}