@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.dkim-page {
  padding: rem(30);

  @include w480 {
    padding: rem(30) rem(10);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);

    @include w960 {
      flex-direction: column;
    }
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;
  }

  .header-right {
    display: flex;

    @include w960 {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: 0;
      margin-bottom: rem(20);
    }

    @include w480 {
      div {
        margin-bottom: rem(10);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__input-wrapper {
      margin-right: rem(10);

      @include w960 {
        margin-right: 0;
        margin-bottom: rem(20);
      }
    }

    &__input {
      width: rem(300);

      margin-right: rem(10);
      
      @include w960 {
        width: rem(200);

        margin-right: 0;
        margin-bottom: rem(20);
      }
    }

    &__error {
      font-size: rem(14);
      font-weight: bold;
      color: $s7;

      margin-top: rem(5);
    }

    &__btn {
      display: inline-block;
      width: rem(200);
    }
  }
}