@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.user-billing {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    padding: rem(30);

    @include w480 {
      padding: rem(20) rem(20);
    }
  }

  &__planks {
    display: flex;
    justify-content: center;

    @include w1200 {
      flex-wrap: wrap;
    }
  }

  .bcurrency-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);

    @include w768 {
      flex-direction: column;
    }

    &__select {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: rem(20);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__label {
      font-size: rem(12);
      font-weight: 300;
      margin-right: rem(10);
    }
    &__fixwidth {
      width: rem(120);
    }
  }

  &__footer {
    padding: 0 rem(30);
  }

  .ubfooter {
    height: rem(50);
    background-color: $s3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__icons {
      display: flex;
    }

    &__icon {
      margin-left: rem(15);
      width: rem(50);
      color: $s4;
    }
  }
}

.currentplan {
  
  @include w768 {
    margin-bottom: rem(20);
  }

  &__name, &__type, &__next-renewal {
    margin-bottom: rem(10);
  }

  &__name {
    @include w768 {
      text-align: center;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;

    &.description {
      font-size: rem(12);
      font-weight: 300;
      margin-right: rem(10);
    }
    &--error {
      font-size: rem(12);
      color: $s7;
    }
  }
}