@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.snds {
  padding: rem(30);

  @include w480 {
    padding: rem(30) rem(10);
  }

  &__credentials {
    .c-slidebar__content {
      width: rem(580);

      @include w768 {
        width: 100%;
      }
    }

    &.hidden {
      .c-slidebar__content {
        right: rem(-600);

        @include w768 {
          right: rem(-900);
        }
      }
    }
  }
}