@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.dkim { 
  
  &__data:not(:last-child) {
    margin-bottom: rem(10);
  }

  &__data {
    &--public-key {
      margin-top: rem(20);
    }
  }

  &__description {
    font-weight: bold;
    margin-bottom: rem(5);
  }

  &__result {
    background-color: rgba($s4, .1);
    font-size: 0.75rem;
    padding: rem(10);
    word-break: break-all;
    
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__warning-container, 
  &__error-container {
    margin-bottom: rem(5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__value:not(:last-child) {
    margin-bottom: rem(4);
  }

  &__separate {
    width: 100%;
    margin-top: rem(20);
    margin-bottom: rem(10);

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      border-radius: rem(10);
      background-color: $border-color;
    }
  }

  &__status {
    &--valid {
      color: $s6;
    }
    &--no-valid {
      color: $s7;
    }
  }
}