@import 'helpers/mixins.scss';

$lightgrey: #b2b2b2;
$darkgrey: #707070;
$white: #fff;
$black: #232323;
$red: #e23e57;

.c-input-text {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 4px;

  &:focus , &:hover {
    border-color: $lightgrey;
  }

  &--disabled {
    &:focus , &:hover {
      border-color: #eaeaea;
    }
  }

  &--error, &--required {
    border-color: $red;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  input[type="password"] {
    height: rem(30);
    
    padding: 0 8px;
    outline: none;
    width: 100%;

    font-size: 13px;
    color: $black;

    &[disabled] {
      color: $lightgrey;
    }

    @include placeholder {
      color: $lightgrey;
      font: {
        size: 13px;
        weight: 300;
      }
    }
  }

  &__errortext {
    position: absolute;

    top: calc(100% + 4px);
    color: $red;
    font-size: 10px;

    padding-top: 2px;
  }

  &--search {
    input {
      background: {
        image: url('./img/search.svg');
        position: 10px center;
        repeat: no-repeat;
      }

      @include placeholder {
        padding-left: 20px;
      }
    }
    input:active, input:focus {
      background-image: none;
      @include placeholder {
        opacity: 0;
      }
    }

  }
}
