@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.user-layout-sidebar {
  height: 100%;
  width: rem(200);
  box-shadow: 0px 0px 10px rgba(52, 52, 52, 0.25);
  background-color: $s3;
  padding-top: rem(20);
  position: relative;
  z-index: 10;

  @include w768 {
    width: rem(100);
  }

  @include w480 {
    width: rem(70);
  }
}
