@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-add-domain {
  .domain-row {
    display: flex;
    align-items: center;

    margin-bottom: rem(20);

    &__input {
      flex: 1;
    }

    &__remove-btn {
      margin-left: rem(10);
    }
  }

  &__dragfile-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: rem(200);
  
    background-color: #FFF;
    color: #c8c8c8;
    
    font-size: rem(14);
    font-weight: 500;
    text-align: center;
    
    padding: rem(10);
  }

  &__result-uploaded-container {
    margin-bottom: rem(10);
  }

  &__uploaded-result {
    font-size: rem(12);
  }

  &__quantity {
    font-weight: bold;

    &--success {
      color: $s6;
    }
    &--failed {
      color: $s7;
    }
  }
}
