@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.si-table-section {
  color: $text-color;
  overflow-x: auto;

  .stsheader {
    display: flex;
    justify-content: space-between;

    background-color: rgba($s1, .05);
    border-bottom: 1px solid $border-color;
    padding: rem(5);
    cursor: pointer;

    &:hover {
      background-color: rgba($s1, .3);
    }

    &__host-name {
      font-weight: 600;
    }

    &__stats {
      display: flex;

      @include w960 {
        justify-content: space-between;
      }
    }

    @include w768 {
      flex-direction: column;
      text-align: center;
    }

    .stshstats {
      margin-left: rem(30);
      font-size: rem(16);

      &__label {
        font-weight: 300;
      }
      &__value {
        font-weight: 300;
        display: inline-block;
        width: rem(40);
      }
      @include w960 {
        margin-left: 0;
      }
    }
  }

  .sis-data-table {

    .sisdtheader {
      display: flex;
      border-bottom: 1px solid $border-color;

      &__cell {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: rem(12);
      }
    }

    &__row {
      display: flex;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }

      &.email-row {
        cursor: pointer;

        &:hover {
          background-color: $s3;
        }

        &.disabled {
          cursor: default;
          background-color: rgba($light-grey, .3);
        }

        &.waiting {
          cursor: default;
        }
      }
    }

    &__cell {
      flex: 1;
      min-width: rem(150);
      overflow: hidden;
      padding: rem(5);
      font-weight: 300;
      font-size: rem(14);
      text-align: center;

      &:not(:last-child) {
        border-right: 1px solid $border-color;
      }

      &--green {
        color: $s6;
      }
      &--red {
        color: $s7;
      }
      &--yellow {
        color: $s8;
      }
    }

    &__cell-content {
      &--blured {
        filter: blur(5px);
      }
    }
  }
}
