@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.itp-filter {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin-right: rem(10);

  &:last-child {
    margin-right: 0;
  }

  @include w960 {
    justify-content: center;
    margin-right: 0;
  }

  @include w768 {
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(10);
  }

  &__domain-filter {
    width: rem(200);

    @include w960 {
      margin-right: 0;
      margin-bottom: 0;
    }

    &--ipmode {
      margin-left: rem(10);

      @include w960 {
        margin-left: rem(20);
      }

      @include w768 {
        margin-left: 0;
        margin-top: rem(10);
      }
    }
  }

  &__ip-filter {
    width: rem(200);

    @include w768 {
      margin: 0;
      margin-top: rem(10);
    }
  }

  &__label {
    font-size: rem(12);
    font-weight: 300;
    color: $text-color;
  }
}