@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.error404 {
    &__container {
      text-align: center;
      color: rgba($s4, .7);
      font-weight: bold;
      font-size: rem(480);

      &.compact {
        font-size: rem(240);
      }
    }

    &__status-error {
      font-size: 0.4em;

      @include w768 {
        font-size: 0.3em;
      }
      @include w480 {
        font-size: 0.25em;
      }
    }

    &__description {
      font-size: 0.1em;
    }

    &__btn {
      font-size: rem(26);
      border: 1px solid rgba($s4, .7);
      padding: rem(30);
      border-radius: rem(30);

      &:hover {
        border: 2px solid rgba($s4, .7);
        font-weight: bold;
      }
    }
}