@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.email-info {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__cols {
    display: flex;
    
    @include w960 {
      overflow: auto;
    }
  }

  &__left,
  &__email-body {
    flex: 1;
  }

  &__left {
    &.withpl {
      padding-right: rem(20);
      width: 50%;

      position: relative;

      @include w960 {
        left: rem(-9999);
        opacity: 0;
        visibility: hidden;
        width: 0;
        padding-right: 0;
      }
    }
  }

  &__email-body {
    transition: all .5s;

    @include w960 {
      flex-basis: 100%;
    }

    &.wrapped {
      width: 0;
      flex: 0;
    }
  }

  // &__subtitle {
  //   text-transform: uppercase;
  //   font-weight: 300;
  //   margin-bottom: rem(10);
  // }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(20);

    .show-email-preview-btn {
      display: flex;
      align-items: center;

      &__btn {
        width: rem(200);
        margin-left: rem(10);
      }
    }

    @include w480 {
      flex-direction: column;
    }
  }

  &__title {
    font-size: rem(24);

    @include w480 {
      margin-bottom: rem(10);
    }
  }

  .sei-accordion {
    &__item {
      border: 1px solid $border-color;
    }

    &__item-header {
      cursor: pointer;
      padding: rem(5);
      background-color: rgba($s1, .2);
      border-bottom: 1px solid $border-color;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        background-color: rgba($s1, .5);
      }

      &.withicon {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .sei-accordion__item-text {
          margin-right: rem(5);
        }
      }
    }

    &__item-domain {
      text-transform: none;
      color: rgba($s1, .8);
    }

    &__item-content {
      // padding: rem(5);
    }
  }
}
