@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.confirmation-popup-redux {
  background-color: white;
  border-radius: rem(5);

  padding: rem(30);
  width: rem(400);

  &__text {
    font-size: rem(16);
    font-weight: 300;
    text-align: center;
    margin-bottom: rem(30);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    & > * {
      width: calc(50% - 5px);
    }
  }
}
