@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.gp-domains-list {
  padding: rem(30);

  @include w480 {
    padding: rem(30) rem(10);
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;

    @include w480 {
      text-align: center;
    }
  }

  &__btn {
    display: inline-block;
    width: rem(200);
  }

  .header-right {
    display: flex;
    align-items: flex-start;

    &__upgrade-plan {
      margin-right: rem(10);

      @include w768 {
        margin-right: 0;
      }
    }

    &__config-report {
      margin-right: rem(10);

      @include w768 {
        margin-right: 0;
      }
    }

    &__new-domain {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include w768 {
        margin: 0 auto rem(10) auto;
      }
    }

    &__config-report {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include w480 {
        margin-right: 0;
        margin-bottom: rem(10);
      }
    }

    @include w768 {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      div {
        margin-bottom: rem(10);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .c-table__cell:not(.c-table__cell--cbs) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .c-table__cell--cbs {
    align-items: flex-start;
  }

  &__filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(20);

    @include w960 {
      position: relative;
      flex-direction: column;
    }
  }

  &__gp-chosen-domain {
    .c-slidebar__content {
      width: 100%;
    }
    &.hidden {
      .c-slidebar__content {
        right: -100%;
      }
    }
  }

  &__dates-range {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;  
  
    @include w960 {
      justify-content: center;
    }
  
    @include w480 {
      flex-direction: column;
    } 
  }
}