@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-slidebar-content {
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: rem(20);

        &--blured {
            filter: blur(5px);
        }
    }

    &__subtitle {
        text-transform: uppercase;
        font-weight: 300;
        font-size: rem(14);
        margin-top: rem(20);
        margin-bottom: rem(20);
    }

    &__row {
        margin-bottom: rem(10);

        &--2col {
            display: flex;
            justify-content: space-between;

            & > div {
                width: calc(50% - 5px);
            }
        }

        &--flex {
            display: flex;
            align-items: center;

            .c-slidebar-content__label {
                margin-right: 10px;

                &--interactive { 
                    margin-right: 0;
                }
            }
        }
    }

    &__label {
        font-size: rem(12);
        font-weight: 300;
        color: $text-color;

        &--interactive {
            .c-slidebar-content__description {
                display: inline-block;
                vertical-align: super;
                margin-right: rem(10);
            }
        }

        &--checkbox {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;

            margin-top: rem(16);

            .c-slidebar-content__description {
                margin-left: rem(10);
            }
        }
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(20);

        &--column {
            flex-direction: column;
        }
        &--nomargin_top {
            margin-top: 0;
        }
    }

    &__btn {
        width: calc(50% - 5px);
        margin-bottom: rem(10);
        &:nth-child(2n) {
            margin-left: 10px;
        }
        &--fullwidth {
            width: 100%;
        }
        &--fouth-width {
            width: 25%;
        }

        &.fullrow {
            width: 100%;
        }
        &.nomargin {
            margin: 0;
        }
        &--export {
            @include w768 {
                width: 70%;
            }
        }
    }

    &__file-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(10);

        &--mt-half {
            margin-top: rem(5);
        }
    }

    &__file-label {
        font-size: rem(14);
    }

    &__file-delete {
        cursor: pointer;
        
        width: rem(15);
        height: rem(15);

        &:hover {
            transform: scale(1.2);
        }
    }

    &__disabled {
        pointer-events: none;
        opacity: .5;
    }

    &__div-line {
        width: 100%;
        height: 0;
        border-top: 1px solid $s3;
        margin: rem(20) 0;

        &--low {
            margin: rem(10) 0;
        }
    }

    &__mt14 {
        margin-top: 14px;
    }

    &--left {
        position: relative;
        left: -1%;
    }

    &--bigger-interval {
        line-height: 1.4;
    }
}
