@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-slidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 200;

    &.hidden {
        // display: none;
        pointer-events: none;

        .c-slidebar__background {
            opacity: 0;
        }

        .c-slidebar__content {
            right: rem(-400);
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0,0,0,.5);
        z-index: 100;

        transition: all .5s;
    }

    &__content {
        background-color: #fff;
        padding: rem(40) rem(20) rem(20) rem(40);
        z-index: 1000;
        position: relative;

        width: rem(400);

        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;

        transition: all .5s;

        @include w480 {
            padding: rem(40) rem(10) rem(10) rem(10);
            width: rem(320);
        }
    }

    &__close {
        position: absolute;
        top: rem(7);
        left: rem(7);
        width: rem(30);
        height: rem(30);
        cursor: pointer;

        transition: all .15s;

        &:hover {
            transform: scale(1.3);
        }

        @include w480 {
            left: auto;
            right: rem(7);
        }
    }
}
