@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.domains-list {
  padding: rem(30);

  @include w480 {
    padding: rem(30) rem(10);
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;
  }

  &__btn {
    display: inline-block;
    width: rem(200);
  }

  .header-right {
    display: flex;
    align-items: flex-start;

    &__upgrade-plan {
      margin-right: rem(10);
      @include w768 {
        margin-right: 0;
      }
    }

    &__config-report {
      margin-right: rem(10);
      @include w768 {
        margin-right: 0;
      }
    }

    &__new-domain {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include w768 {
        margin-right: 0;
      }
    }

    &__config-report {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include w480 {
        margin-right: 0;
        margin-bottom: rem(10);
      }
    }

    @include w768 {
      display: flex;
      flex-direction: column;
  
      div {
        margin-bottom: rem(10);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .domains-available {
    font-size: rem(12);
    font-weight: 300;
    margin-top: rem(5);

    &__count {
      font-weight: bold;

      &.danger {
        color: $s7;
      }
      &.warning {
        color: $s8;
      }
      &.ok {
        color: $s6;
      }
    }
  }

  .ips-report-status {
    font-size: rem(12);
    font-weight: 300;
    margin-top: rem(5);

    &__value {
      font-weight: bold;

      &.danger {
        color: $s7;
      }
      &.ok {
        color: $s6;
      }
    }
  }

  &__new-domain {
    .c-slidebar__content {
      width: rem(500);

      @include w768 {
        width: 100%;
      }
    }
    &.hidden {
      .c-slidebar__content {
        right: rem(-500);

        @include w768 {
          right: rem(-900);
        }
      }
    }
  }

  .c-table__cell:not(.c-table__cell--cbs) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .c-table__cell--cbs {
    align-items: flex-start;
  }

  .reverseIp-row {

    &.warning {
      color: $s7;
    }
  }

  .rbl-row {
    // &__link {
    //   color: $s1;
    // }
  }

  &__pagination {
    &--bottom {
      margin-top: rem(10);
    }
  }

  .ipl-table-panel {
    display: flex;
    justify-content: space-between;

    @include w768 {
      align-items: flex-end;
    }

    @include w480 {
      align-items: flex-end;
      align-items: center;
      flex-direction: column-reverse;
    }

    .itp-filter {
      display: flex;
      align-items: flex-end;

      @include w768 {
        flex-direction: column-reverse;
      }

      &__domain-filter {
        margin-right: rem(10);
        width: rem(200);

        &:last-child {
          margin-right: 0;
        }      

        @include w768 {
          width: rem(200);
          margin-right: 0;
          margin-bottom: 0;
        } 
        @include w480 {
          margin-bottom: rem(10);
        }
      }

      &__label {
        font-size: rem(12);
        font-weight: 300;
        color: $text-color;
      }
    }
  }
}
