@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-chosen-gp-domain {
  &__graphs {
    display: flex;
    flex-wrap: wrap;

    @include w1200 {
      display: block;
    }
  }

  &__sei-accordion {
    width: calc(50% - 1.25rem);
    overflow: hidden;

    margin-bottom: rem(10);
    margin-right: rem(20);

    &:last-child {
      margin-bottom: 0;
    }

    @include w1200 {
      width: 100%;
      margin-right: 0;
    }
  }

  &__table {
    padding: rem(10) 10%;
    max-height: rem(200);
    overflow-y: auto;
    text-align: start;
    
    .c-table__cell {
      font-size: rem(12);

      @include w768 {
        font-size: rem(10);
      }
    }
  }
}

.sei-accordion {
  &--gp {
    .sei-accordion__item {
      overflow: hidden;
    }

    .sei-accordion__item-header {
      text-align: center;
    }
  }

  &__item {
    border: 1px solid $border-color;
  }

  &__item-header {
    cursor: pointer;
    background-color: rgba($s1, .2);
    border-bottom: 1px solid $border-color;
    text-transform: uppercase;
    font-weight: 600;
    padding: rem(5);

    &:hover {
      background-color: rgba($s1, .5);
    }

    &.withicon {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .sei-accordion__item-text {
        margin-right: rem(5);
      }
    }
  }

  &__item-domain {
    text-transform: none;
    color: rgba($s1, .8);
  }

  &__item-content {
    &--graph {
      font-size: rem(12);

      @include w768 {
        font-size: rem(10);
      }
    }
  }
}

.chart-tooltip {
  padding: rem(10);
  text-align: center;

  &__date {
    font-weight: bold;
  }
}