@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.new-seedlisting {

  &__sub-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--hosts {
      align-items: flex-start;
      flex-direction: column;

      h4 {
        margin-top: 0;
      }
    }
  }

  &__email-available {

  }

  .s-hosts {
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: rem(26);
      border-bottom: 1px solid rgba(0,0,0, 0);

      &.disabled {
        pointer-events: none;
        opacity: .5;
      }

      &:hover {
        border-color: $s3;
      }
    }
    &__title {
      font-size: rem(14);
      width: rem(100);

      @include w480 {
        width: rem(60);
      }
    }
    &__eperit {
      width: rem(120);
      font-size: rem(12);
      font-weight: 300;
      text-align: center;
      padding: 0 rem(10);

      @include w480 {
        width: rem(80);
      }
    }
    &__range {
      flex: 1;
      padding: 0 rem(10);

      @include w480 {
        width: rem(90);
      }
    }
    &__cbx {
      width: rem(20);
    }

    .range-title {
      display: flex;
      justify-content: space-between;
      position: relative;

      &__value {
        color: $s4;
        font-size: rem(12);
        font-weight: 300;

        &--current {
          position: absolute;
          top: 0;
          color: $s7;
          width: rem(16);
          text-align: center;
        }

      }
    }
  }

  .email-available {
    align-self: flex-end;
    display: flex;
    align-items: center;

    &__title {
      font-size: rem(12);
      font-weight: 300;
      text-transform: uppercase;
      margin-right: rem(10);
    }

    &__value {
      font-size: rem(12);
      font-weight: bold;

      &.danger {
        color: $s7;
      }
      &.warning {
        color: $s8;
      }
      &.ok {
        color: $s6;
      }

    }
  }

  &__select {
    margin-bottom: rem(16);
  }

  &__description-type {
    font-size: rem(12);
  }

}


