@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.c-tabs {

    display: flex;
    border: 1px solid $border-color;
    border-radius: rem(5);
    overflow: hidden;

    input:checked + label {
        background-color: $s1;
        color: white;
    }

    &__tab {
        flex: 1;

        &:not(:last-child) {
            border-right: 1px solid $border-color;
        }
    }

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: rem(32);
        white-space: nowrap;
        cursor: pointer;

        font: {
            size: rem(16);
            weight: 300;
        }

        transition: all .1s;
        &:hover {
            background-color: rgba($s1, .2);
        }
    }

}
