@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.date-range {
  position: relative;
  width: fit-content;

  &--disabled {
    .date-range__controls {
      z-index: 9999;
    }
  }

  // inputs

  &__inputs {
    display: flex;

    @include w768 {
      justify-content: center;
    }
  
    @include w480 {
      flex-direction: column;
    }
  }

  &__input-container {
    width: rem(200);

    margin-left: rem(10);

    @include w480 {
      margin-left: 0;
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__label {
    font-size: rem(12);
    font-weight: 300;
    color: $text-color;
  }

  &__separator {
    margin-left: rem(10);

    @include w480 {
      margin-left: 0;
    }

    &::after {
      content: '-';
      display: inline-block;
      position: relative;

      bottom: -25%;

      transform: translateY(40%);
  
      @include w480 {
        display: none;
      }
    }
  }

  // controls

  &__controls {
    position: absolute;
    
    background-color: $white;

    border-radius: rem(4);
    border: 1px solid rgba($text-color, .4);
    box-shadow: 0 0 rem(10) rem(5) $s3;
    
    z-index: 9999;
    padding: rem(10);
    margin-top: rem(10);

    @include w768 {
      margin-top: 0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    cursor: pointer;
    flex-shrink: 0;
    position: relative;

    width: rem(20);
    height: rem(20);
    
    transition: transform .25s;

    &:hover {
      transform: scale(1.2);
    }

    &:before, &:after {
      position: absolute;
      content: '';
      display: block;

      width: 100%;
      height: rem(4);

      top: 50%;
      
      border-radius: rem(4);
      background-color: $s4;
    }

    &:before {
      transform: translateY(-50%) rotate(45deg);
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include w768 {
      flex-direction: column;
      align-items: center;
    }

    &--disabled {
      pointer-events: none;
      opacity: .5;
      filter: grayscale(1);
    }
  }

  &__button {
    max-width: rem(200);
    margin-left: rem(10);

    @include w768 {
      margin-left: 0;
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__diffdays {
    width: 100%;

    font-size: rem(14);
    margin-right: rem(10);
  }
}

.datepickers {
  display: flex;
  justify-content: center;

  overflow-y: auto;

  @include w768 {
    flex-direction: column;
    align-items: center;
  }

  &__container {
    margin-left: rem(10);

    @include w768 {
      margin-left: 0;
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &--disabled {
      pointer-events: none;
      opacity: .5;
      filter: grayscale(1);
    }
  }

  &__wrapper {
    display: flex !important;
    height: 100%;
  }

  // Header

  .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 33% !important;
  }

  // Date

  .react-datepicker__day, .react-datepicker__day-name {
    border-radius: 0;
    margin: 0;

    &:hover {
      border-radius: 0;
    }
  }

  .react-datepicker__day--keyboard-selected, 
  .react-datepicker__day--selected {
    background-color: transparent;
    //color: black;
    font-weight: bold;
  }

  .react-datepicker .react-datepicker__day--in-range,
  .react-datepicker .react-datepicker__day--in-selecting-range {
    background-color: rgba($s1, .8);
    color: $white;
  }

  // Time

  .react-datepicker__time-container,
  .react-datepicker__time-box {
    width: rem(80) !important;
  }

  .react-datepicker__time-list {
    height: 150px !important;
  }

  .react-datepicker__time-list-item {
    height: auto !important;

    &:hover {
      color: $white;
      background-color: rgba($s1, .8) !important;
    }
  }

  .react-datepicker__time-list-item--selected {
    background-color: rgba($s1, .8) !important;
  }
}