@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.ip-status {
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include w768 {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  
    @include w480 {
      align-items: flex-end;
      align-items: center;
    }
  }

  &__pagination {
    margin-right: rem(10);

    @include w768 {
      margin-right: 0;
    }

    &--bottom {
      margin-top: rem(10);
    }
  }

  &__filters {
    @include w768 {
      align-self: center;
    }
  }
}