@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.user-settings {
  padding: rem(30);

  @include w480 {
    padding: rem(20) rem(20);
  }

  &__section {
    &:not(:last-child) {
      padding-bottom: rem(20);
      border-bottom: 1px solid $s3;
    }
    &:not(:first-child) {
      margin-top: rem(20);
    }
  }

  .ussection {
    color: $text-color;
    max-width: rem(400);

    &__title {
      font-size: rem(20);
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: rem(10);
    }
  }

  .usrow {
    font-size: rem(12);
    font-weight: 300;
    color: $text-color;
    margin-bottom: rem(10);
  }
}
