@import 'helpers/mixins.scss';

.spf {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);

    @include w768 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @include w768 {
      margin-bottom: rem(10);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-right: rem(10);

    &:last-child {
      margin-right: 0;
    }

    .button {
      text-transform: uppercase;
      white-space: nowrap;
      width: rem(150);
      margin-left: rem(10);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}