@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.user-layout {
  display: flex;
  width: 100%;
  height: 100%;

  &__content {
    flex: 1;
    height: 100%;
    overflow: auto;
  }
}
