@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  max-width: 100%;
  width: 100%;
  height: rem(30);
  border-radius: rem(5);

  text-decoration: none;
  transition: all .25s;

  font-size: rem(16);
  font-weight: 300;

  &--light {
    $col: $s4;

    border: 1px solid $s4;

    color: $col;

    &:hover {
      background-color: $col;
      color: white;
    }
  }

  &--blue {
    $col: $s1;

    box-shadow: 0px 0px 10px rgba(1, 119, 164, 0.3);

    background-color: $s1;
    color: white;

    &:hover {
      background-color: white;
      color: $col;
    }
  }

  &--purple {
    $col: $s2;

    background: $col;
    box-shadow: 0px 0px 10px rgba(110, 71, 195, 0.4);

    color: white;

    &:hover {
      background-color: white;
      color: $col;
    }
  }

  &--red {
    $col: $s7;

    background: $col;
    box-shadow: 0px 0px 10px rgba($s7, 0.4);

    color: white;

    &:hover {
      background-color: white;
      color: $col;
    }
  }

  &--with-icon {
    min-width: rem(150);
    padding: 0 rem(20);
  }

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  &__icon-wrap {
    position: absolute;
    display: inline-block;

    width: rem(20);

    left: rem(10);
    top: 50%;
    transform: translateY(-50%);

    margin-right: rem(10);
  }

  &__icon {
    opacity: 0;
    transition: opacity .25;
    
    svg {
      transform-origin: center;
      animation: isRotateAnimation infinite 1s;
      animation-timing-function: linear;
      animation-play-state: paused;
    }
    &--rotate-animation {
      opacity: 1;
      svg {
        animation-play-state: running;
      }
    }
  }
}
