@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.seedlisting-item {
  padding: rem(30);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);
    
    @include w768 {
      flex-direction: column;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;

    @include w768 {
      flex-direction: column;
    }
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__breadcrumbs-current {
    font-size: rem(20);
  }

  &__btn {
    display: inline-block;
    width: rem(200);
    right: 0px;

    margin-right: rem(10);

    &:last-child {
      margin-right: 0;
    }

    @include w768 {
      margin-right: 0;
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__showed-info-slidebar {
    .c-slidebar__content {
      width: 100%;
    }

    &.hidden {
      .c-slidebar__content {
        right: -100%;
      }
    }
  }
}
