@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.seedlisting-emails {

  &__row {
    display: flex;
    justify-content: space-between;
    padding: rem(5);
    border-bottom: 1px solid $border-color;

    @include w768 {
      flex-direction: column;
      align-items: center;
      margin-bottom: rem(10);
      padding: rem(5) 0;
    }
  }

  &__email {
    font-family: monospace;
    flex: 1;
    text-align: center;
    height: rem(30);
    background-color: rgba($s4, .2);

    @include w768 {
      display: block;
      width: 100%;
      padding: rem(10) 0;
      margin-bottom: rem(5);
    }
  }

  &__btn {
    width: rem(200);
    margin-left: rem(10);

    @include w768 {
      margin-left: 0;
      width: 100%;
    }
  }
}
