@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.snds-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: rem(20);

  @include w960 {
    flex-direction: column;

    margin-bottom: rem(10);
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;

    @include w480 {
      text-align: center;
    }
  }

  &__btn {
    display: inline-block;
    width: rem(200);
  }

  .header-right {
    display: flex;
    align-items: flex-start;

    @include w960 {
      flex-direction: column;
      align-items: center;
  
      div {
        margin-bottom: rem(10);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__tabs {   
      width: rem(350);   
      margin-right: rem(10);

      @include w960 {
        width: rem(200); 
        margin: 0 auto rem(10) auto;
      }
    }

    &__tabs-container {
      @include w960 {
        flex-direction: column;

        .c-tabs__tab {
          margin-bottom: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $border-color;
          }
        }
      }

      .c-tabs__label {
        height: rem(30);
      }
    }

    &__add-key {
      margin-right: rem(10);

      @include w960 {
        margin: 0 auto;
      }
    }

    &__user-integration {
      display: flex;
  
      @include w960 {
        flex-direction: column;
      }
  
      &-btn {
        display: inline-block;
        min-width: rem(200);
  
        margin-right: rem(10);
  
        @include w960 {
          margin-bottom: rem(10);
          margin-right: 0;
        }
  
        &:last-child {
          margin-right: 0;
  
          @include w960 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}