@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.listcleaning {
  padding: rem(30);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(20);
  }

  &__header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $text-color;
    font-weight: 300;
    font-size: rem(40);
    text-transform: uppercase;
  }

  &__btn {
    display: inline-block;
    width: rem(200);
    right: 0px;
  }

  .email-available {
    font-size: rem(12);
    font-weight: 300;
    margin-top: rem(5);

    &__count {
      font-weight: bold;

      &.danger {
        color: $s7;
      }
      &.warning {
        color: $s8;
      }
      &.ok {
        color: $s6;
      }
    }
  }
}


