@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.ipd-filters {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  @include w768 {
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(10);
  }

  &__user-ips {
    display: flex;
    flex-direction: column;

    min-width: rem(200);

    margin-right: rem(10);

    @include w768 {
      margin-right: 0;
      margin-bottom: 0;
    } 
    @include w480 {
      margin-bottom: rem(10);
    }
  }

  &__filter-result {
    display: flex;
    flex-direction: column;

    min-width: rem(200);

    margin-right: rem(10);

    @include w768 {
      margin-right: 0;
      margin-bottom: 0;
    } 
    @include w480 {
      margin-bottom: rem(10);
    }
  }

  &__label {
    font-size: rem(12);
    font-weight: 300;
    color: $text-color;
  }

  &__select {
    @include w768 {
      margin-bottom: rem(10);
    }
  }

  &__popup {
    z-index: 111;

    .c-popup__content {
      min-width: rem(200);
      max-width: rem(400);

      text-align: center;
      border-radius: rem(20);
    }
  }
}

.ipd-popup {
  &__header {
    text-transform: uppercase;
    color: $s7;
    margin-bottom: rem(20);
  }

  &__description {
    margin-bottom: rem(20); 
  }

  &__btn {
    margin: 0 auto;
    width: 50%;
  }
}