@import 'helpers/mixins.scss';

.portal-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(43, 50, 56, 0.6);
  top: 0;
  left: 0;
  z-index: 9999;

  @include w480 {
    padding: rem(20) rem(20);
  }

  .portal {
    display: block;
    padding: rem(10);

    @include w768 {
      padding: 0;
    }
  }
}
