@import 'helpers/variables.scss';
@import 'helpers/mixins.scss';

.will_expired {
  margin-left: rem(40);
  text-align: center;
  font-weight: bold;
  color: $s7;

  &__expired-day {
    display: inline-block;
  }

  @include w480 {
    font-size: rem(12);
    margin-left: rem(5);
  }
}
