@import './mixins.scss';

* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select, input[type="text"] {
  width:100%;
  height: 30px;

  border-radius: 4px;
  padding: 0 8px;
  outline: none;
  font-size: 13px;
  color: #232323;
  background: #fff;

  &:focus,
  &:hover {
    // border: 1px solid #b2b2b2;
  }
}

header,nav,section,article,aside,footer {
    display: block;
}

html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
}

html {
    font-size: 1rem;

    @include w1280 {
        font-size: $browser-context * 1.2;
    }

    @include w960 {
        font-size: $browser-context * 1.5;
    }

    @include w768 {
        font-size: 1rem;
    }

    @include w480 {
        font-size: 0.85rem;
    }
}

a img {
    border: none;
}

textarea {
    outline: none;
    resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    outline: none;
    resize: none;
}

img {
    max-width: 100%;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.react-datepicker-popper {
    z-index: 100;
}