@mixin centered($axis: 'both', $direction: 'row') {

    display: flex;
    flex-direction: $direction;

    @if $axis == 'both' {
        justify-content: center;
        align-items: center;
    }

    @if $axis == 'x' {
        justify-content: center;
    }

    @if $axis == 'y' {
        align-items: center;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

$browser-context: 1vw; //16; // Default
$baseFontSize : 16;

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@function em($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin w1600() {
  @media screen and (max-width: em(1600)) {
    @content;
  }
}

@mixin w1440() {
  @media screen and (max-width: em(1440)) {
    @content;
  }
}

@mixin w1200() {
  @media screen and (max-width: em(1200)) {
    @content;
  }
}

@mixin w1280() {
  @media screen and (max-width: em(1280)) {
    @content;
  }
}

@mixin w960() {
  @media screen and (max-width: em(960)) {
    @content;
  }
}

@mixin w768() {
  @media screen and (max-width: em(768)) {
    @content;
  }
}

@mixin w480() {
  @media screen and (max-width: em(480)) {
    @content;
  }
}

@mixin w320() {
  @media screen and (max-width: em(320)) {
    @content;
  }
}

@keyframes isRotateAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}